<ion-header>
    <ion-navbar>
        <ion-title *ngIf="!inSearch">{{ selectedItem.Name }}</ion-title>
        <ion-searchbar #searchbar [(ngModel)]="searchTerm" *ngIf="inSearch" (ionInput)="setFilteredItems()"></ion-searchbar>
        <ion-buttons end>
            <button (click)="toggleSearch()" ion-button><ion-icon name="search" *ngIf="!inSearch"></ion-icon><ion-icon name="close" *ngIf="inSearch"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let item of items" (tap)="itemTapped($event, item)">
      <ion-icon
        *ngIf="item.Type === 'folder'"
        name="folder"
        item-start
      ></ion-icon>
      <ion-icon *ngIf="item.Type === 'video'" name="play" item-start></ion-icon>
      {{ item.Name }}
      <ion-note *ngIf="item.Size != '-'" item-end
        >{{ item.Size }}
      </ion-note>
      <ion-note item-end>{{ item.Resolution }} </ion-note>
    </button>
    </ion-list>
</ion-content>