<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>DarthAnime</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (tap)="tap(item)">
      <ion-icon *ngIf="item.Type === 'folder'" name="folder" item-start></ion-icon>
      <ion-icon *ngIf="item.Type === 'video'" name="play" item-start></ion-icon>
      {{
        item.Name
      }}
      <ion-note *ngIf="item.Size != '-'" item-end> {{ item.Size }} </ion-note>
    </button>
  </ion-list>
</ion-content>
